version: '3.8'

services:
  # Lead Management Service
  lead-management-service:
    image: lead-management-service:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lead-management-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_URL: jdbc:postgresql://192.168.0.107:5432/lead_management
      DB_USERNAME: tester
      DB_PASSWORD: welcome
    ports:
      - "8090:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
